@import url('https://fonts.googleapis.com/css?family=Cinzel|Muli|Open+Sans+Condensed:300');
body {
   background-image: url("images/cbbg.png");
   background-repeat: repeat; 
}

p {
    font-family: 'Muli', sans-serif; 
    font-size:24px;
}
body {
      margin: 0;
}
.italic {
    font-family: 'Muli', sans-serif;
    font-size:16px;
    font-style:italic
}

.subtitle {
    font-family: 'Muli', sans-serif;
    font-size:18px;
    color: white;
}
.subtitle.margin{
    height: 100%;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.title {
    font-family: 'Muli', sans-serif;
    font-size:32px;
}
.title.red{
    color: red;
}
.biggerTitle {
    font-family: 'Muli', sans-serif;
    font-size:50px;

}
.biggerTitle.fancy{
    font-family: 'Cinzel', serif;
    margin-bottom: 0px;
}

.fixToTop {
    width: 100%;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;    
}
button:Hover{
    background-color: rgba(150, 150, 150, 1);
}

.navBar{ 
    background-color: rgba(100, 100, 100, 1);
    border-color: white;
    border-width: 10px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size:40px;
    color: white;
    cursor: pointer;
    width: 33%;
    height: 70px;
    transition: 0.3s;
} 
.navBar.selected{
    background-color: rgba(30, 150, 255, 1);
}
.navBarMenuSmall{ 
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Cinzel', serif;
    text-align: center;
    color: black;
    width: 19%;
    height: 50px;
    font-size: 26px;
    cursor: pointer;
    border-left-width: 0px;
    border-right-width: 0px;
    transition: 0.3s;
    
    
} 
.orderProgress{
    width: 20%;
    font-family: 'Cinzel', serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    transition: 0.3s;
    
}
.orderProgress.done{
    background-color: rgba(102, 255, 102, 1);
    color: black;
    cursor: pointer;
}
.orderProgress.inProg{
    background-color: rgba(30, 150, 255, 1);
    color: white;
}
.orderProgress.complete{
    background-color: rgba(102, 255, 102, 1);
    color: black;
}
.orderProgress.done:Hover{
    background-color: rgba(0, 204, 0, 1);
}

.navBar:Hover{
    background-color: rgba(150, 150, 150, 1);
}

.navBarMenuSmall:Hover{
    background-color: rgba(100, 215, 255, 1);
}
.resize{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
p.navBarText{
   font-family: 'Muli', serif;
    text-align: center;
    font-size:40px;
    color: white;
}
.imgHeader{
    max-width:35%;
    max-height: 35%; 
    width: auto;
    height: auto;
    min-width: 420px;
    min-height: 95px;
}


.menuSize{
    width: 300px;
    height: 50px;
}
.menuSizeSelect{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
    color: black;
    width: 100%;
    height: 100%;
    margin-top: 2px;
}
.menuQuantity{
    font-family:'Open Sans Condensed', sans-serif;
    font-size:20px;
    color: black;
    width: 24%;
    height: 44px;
    margin-top: 2px;
    text-align: right;
    
}
.menuAdd{
    float: right;
    background-color: rgba(200, 200, 200, 1);
    font-family: 'Muli', sans-serif;
    text-align: center;
    font-size:20px;
    color: black;
    cursor: pointer; 
    width: 49.5%;
    height: 50px;
    margin-top: 2px;
    vertical-align: middle;
    line-height: 50px;
    transition: 0.3s;
    
}

.menuAdd.pizza {
}

.menuAdd.other {
    
}

.menuAdd.deals{
    width: 100%;
    height: 50px;
    margin-top: 2px;
    line-height: 50px;
    transition: 0.3s;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
}

.menuAdd:Hover{
    background-color: rgba(102, 255, 102, 1);
}
.menuCustomise{
    text-align: center;
    float:left;
    background-color: rgba(200, 200, 200, 1);
    font-family: 'Muli', sans-serif;
    text-align: center;
    font-size:20px;
    color: black;
    cursor: pointer; 
    width: 49.5%;
    height: 50px;
    margin-top: 2px;
    vertical-align: middle;
    line-height: 50px;
    transition: 0.3s;
}
.menuCustomise:Hover{
    background-color: rgba(100, 100, 100, 1);
}
.menuName{
    background-color: rgba(200, 200, 200, 1);
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size:32px;
    color: black;
    height: 50px;
    width: 100%;
    margin-top: 2px;
    line-height: 50px;
    max-width: 315px;
}
.menuName.deals{
    margin-top: 0px;
}
.menuPrice{
    background-color: rgba(200, 200, 200, 1);
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size:25px;
    color: black;
    height: 50px;
    margin-top: 2px;
    width: 24.5%;
    float: left;
    line-height: 50px;
}
.pizzaTable{
    text-align: center;
    width:315px;
    display: inline-block;
    background-color: rgba(50, 50, 50, 0.5);
    margin: 10px;
}

.otherTable{
    text-align: center;
    width:315px;
    display: inline-block;
    background-color: rgba(50, 50, 50, 0.5);
    margin: 10px;
}
.dealsTable{
    width: 25%;
    height: 275px;
    display: inline-block;
    background-color: rgba(50, 50, 50, 0.5);
    position: relative;
    outline-color: black;
    outline-width: 2px;
    outline-style: solid;
    margin: 25px;
    vertical-align: top;
}
.dealsText{
    width: 100%;
    height: 125px;

}

.topButton {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Cinzel', serif;
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
    border-left-width: 0px;
    border-right-width: 0px;
    transition: 0.3s;
}
.topButton:hover{
    background-color: rgba(100, 215, 255, 1);
}
.menuImgWrapper{
    background-color: rgba(100, 100, 100, 1); 
    height: 315px;
    width: 315px;
}

.checkoutTable{ 
    font-family:'Muli', sans-serif;
    font-size:24px;
    color: white;
    width: 1000px;
    height: 750px;
    text-align: center;
}
.checkoutTableContent{
    border-color: white;
    border-width: 3px;
    border-style: solid;
    vertical-align: top;
    text-align: center;
    width: 50%;
}
.checkoutBtn{
    background-color: rgba(200, 200, 200, 1);
    width: 75%;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 15pt;
    border: none;
    outline: none;
}
.paymentBtn{
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-size: 17pt;
    background-color: rgba(200, 200, 200, 1);
    border: none;
    outline: none;
}
.paymentBtnSelected{
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-size: 17pt;
    background-color: rgba(100, 215, 255, 1);
}
.genericButton2{
    font-family: 'Cinzel', serif;
    font-size: 20px;
    background-color: rgba(200, 200, 200, 1);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;  
    margin: 5px;
    border: none;
    outline: none;
}
.genericButton2:Hover{
    background-color: rgba(102, 255, 102, 1);
}
.genericButton1{
    width: 275px;
    font-family: 'Muli', sans-serif;
    font-size: 20pt;
    background-color: rgba(200, 200, 200, 1);
    height: 60px;
    text-align: center;
    border: none;
    outline: none;
}
.genericForward{
    width: 275px;
    font-family: 'Muli', sans-serif;
    font-size: 20pt;
    background-color: rgba(200, 200, 200, 1);
    height: 60px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;  
    margin: 10px;
    border: none;
    outline: none;
}

.genericBack{
    width: 275px;
    font-family: 'Muli', sans-serif;
    font-size: 20pt;
    background-color: rgba(200, 200, 200, 1);
    height: 60px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;  
    margin: 10px;
    border: none;
    outline: none;
}
.genericBack:Hover{
    background-color: rgba(255, 51, 51, 1);
}
.genericForward:Hover{
    background-color: rgba(102, 255, 102, 1);
}
.basketText{
    font-family:'Muli', sans-serif;
    font-size:32px;
    width: 60%;
    color: white;
}
.basketTextInner{
    width: 50%;
    font-size:28px;  
    width: 100%;
}
.basketTextInner.small{
    font-size:20px;
    float: left;
}
.basketTextInner.smallRight{
    font-size:20px;
    float: right;
}

.basketContainer{
    width: 100%;
    height: 120px;
    border-color: white;
    border: 3px;
    border-style: solid;
}
.deleteBtn{
    color: red;
    cursor: pointer;
    font-size: 40px;    
}

a.anchor{
    display: block;
    position: relative;
    top: -152px;
}

stopJumpDiv{
     height: 0px;
}


div.tab {
    background-color: rgba(200, 200, 200, 1);
}


div.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: 241px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    background-color: rgba(200, 200, 200, 1);
    height: 60px;
    text-align: center;
}


div.tab button:hover {
    background-color: rgba(150, 150, 150, 1);
}


div.tab button.active {
    background-color: rgba(30, 150, 255, 1);
    color: white;
}

.tabcontent {
    display: none;
}
.confirmTable{
    border-color: white;
    border-width: 3px;
    vertical-align: top;
    text-align: center;
    width: 60%;
    padding: 10px;
    
}
.confirmTableContent{
    border-color: white;
    border-width: 3px;
    border-style: solid;
    vertical-align: top;
    text-align: center;
}
.newPostcodeInput{
    height: 50px; 
    font-family: 'Muli', sans-serif;
    font-size: 32px;
    text-align: center;
}
div.imgOverlay p{
    font-family: 'Cinzel', serif;
}
div.cyop {
  background-image: url("images/CYOP.png");
  background-repeat:no-repeat;
  border: 2px solid black;
  width: 800px;
  cursor: pointer;
}

div.imgOverlay {
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  outline: 1px solid black;
}

div.imgOverlay p {
  margin: 5%;
  color: black;
  font-family: 'Cinzel', serif;
  font-size: 32px;
  font-weight: bold;
  
}

.checkboxStyle{
    height: 25px;
    width: 25px;
}